header {
    background-color: #2c3e50;
    padding: 15px;
    margin-top: -9px;
    margin-left: -8px;
    margin-right: -8px;
}

body{
    background-color: #f5f1e7;
    font-family: 'Roboto';
}

h1{
    text-align: center;
    margin-top: -55px;
    color: #ddd;
    font-family: 'monserrat';
}

.container {
    display: flex;
    align-items: center; 
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.logo {
    height: 75px;
    padding: 0;
    margin: 0;
}

header nav {
    display: flex;
    margin-left: 50%;
    gap: 15px;
}

header nav a {
    color: #2c3e50;
    text-decoration: none;
    font-size: 18px;
}

header nav a:hover {
    text-decoration: underline;
}

.ini {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 20px;
}

.principal {
    width: 350px; 
    height: 218px;
    color: #f4f4f4;
    background-color: #2c3e50; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 100px;
}

.principall {
    width: 350px; 
    height: 218px;
    background-color: #2c3e50; 
    color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 100px;
}

.principal:hover{
    color: #000; 
    background-color: #f4f4f4;
}

.principall:hover{
    color: #000; 
    background-color: #f4f4f4;
}

.principalll:hover{
    color: #000; 
    background-color: #f4f4f4;
}

.p:hover{
    color: #000; 
    background-color: #f4f4f4;
}

.principalll {
    width: 350px;
    height: 218px;
    background-color: #2c3e50; 
    color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 100px;
}

.p {
    width: 160px; 
    height: 30px;
    background-color: #2c3e50;
    color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-left: 45%;
    margin-top: 28px;
    margin-bottom: 100px;
    border-radius: 5px;
    
}

.inicio{
    height: 50px; 
    margin-left: auto; 
    
}

.redes{
    display: flex;
    margin-left: 85%;
    margin-top: -36px;
    align-items: center;
    height: 30px;
    gap: 20px;
}

p{
    margin-left: 120px;
}

footer {
    background-color: #2c3e50;
    color: #f4f4f4;
    padding: 35px;
    margin-top: 135px;
    margin-bottom: -7px;
    margin-left: -8px;
    margin-right: -8px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .logo {
        height: 60px;
        margin-right: 85%;
        margin-top: 10px;
    }
    .inicio {
        display: flex;
        height: 40px;
        margin-left: 90%;
        margin-top: -40px;
        margin-bottom: 10px;
    }
    .redes {
        margin-left: 0;
        margin-top: 10px;
        justify-content: center;
        gap: 15px;
    }
    .ini {
        margin-top: 2%;
        flex-direction: column;
        margin-left: 0;
        text-align: center;
        margin-bottom: 30%;
    }
    
    .principal{
        width: 50%;
        height: 90px;
        margin-top: 25px;
        margin-bottom: -20%;
    }
    .principall{
        width: 50%;
        height: 90px;
        margin-bottom: -20%;
    }
    .principalll{
        width: 50%;
        height: 90px;
        margin-bottom: 10px;
    }
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #2c3e50;
        padding: 10px;
    }
    .p {
        font-size: 16px;
        width: 50%;
        height: 90px;
        text-align: center;
        margin-top: -130px;
        margin-left: 120px;
    }

    p {
        margin-left: 0;
        text-align: center;
        margin-bottom: 5px;
    }
}

